body, header, table, tr, th, td, content, nav, ul, li, img, div, span, button, strong, input, h1{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: auto;
  width: 980px;
  padding: 0px 70px;
  font-family: sans-serif;
  position: relative;
}

ul, li {
  list-style: none;
}


nav {
  margin-top: 20px;
  background: grey;
  color: white;
  height: 36px;
  border-radius: 10px;
  border: 1px solid black;
}

nav > ul {
  float: left;
}

nav > ul > li{
  display: inline;
  float:left;
  height:36px;
  width: 107px;
  border-left: 1px solid black;
  text-align: center;
  line-height: 34px;

/*  padding: 8px 25px 8px 25px;*/
}

nav > ul > li:first-of-type{
  border-left: 0px;
/*  height:34px;*/
}

nav > ul > li:last-of-type{
  width: 114px;
}

#apple_logo{
  padding-top: 5px;
  height: 24;
  width: auto;
}

#search{
  height: 20px;
  width: 104px;
  margin: auto;
  margin-top: 6px;
  padding: 3px, 2px;
  background-color: #888888;
  border-radius: 10px;
  border: 1px solid #707070;
}

#magnifying_glass{
  float: left;
  height: 16;
  width: auto;
  margin-top: 3px;
  margin-left: 2px;
}

#search_bar{
  background-color: #888888;
  float: right;
  width: 78px;
  height: 15px;
  margin-top: 3px;
  margin-right: 4px;
}

header {
  margin-top: 10px;
  background: #F0F0F0;
  height: 60px;
}

header > h1{
/*  background: red;*/
  float: left;
  font-weight: 100;
  font-size: x-large;
  margin-top: 20px;
  margin-left: 6px;
}

header > h1 > strong {
  font-weight: bold;
}

header > ul {
  margin-top: 30px;
  float: right;
/*  background-color: red;*/
  width: 615px;
  font-size: small;
}

header > ul >li {
  float: left;
  padding-left: 28px;
}

header button {
  margin-top: -2px;
  padding: 2px 10px;
  color: white;
  background: #0099CC;
  border-radius: 10px;
}

table {
  border-collapse:collapse;
  padding-top: 20px;
  width: 100%;
}

tr, td {
  padding-top: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

content th {
/*  float:left;*/
  width: 192px;
  text-align: left;
  font-size: x-large;
  position-top: 20px;
}

td.divider {
  width: 55px;
  height: auto;
  border-bottom: 1px solid white;
}

.display img {
  background: red;
  display:block;
  margin: auto;
  margin-bottom: 20px;
}

.display span{
  font-size: x-large;
}

.in_the_box img{
  float: right;
}

.in_the_box ul{
  padding-left: 20px;
  display: block;
  float: left;
  text-align: left;
  font-size: medium;

}

li {
  list-style: disc;
}