body, header, footer, section, ul, li, img, div, button, strong, input{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  position: relative;
}

ul, li {
  list-style: none;
}

header{
  height: 60px;
  font-size: small;
  font-color: grey;
}
header > ul{
  float:right;
  padding-top: 20px;
}

header > ul > li{
  float: left;
  display: inline;
  padding-right: 20px;
}

#sign_in_button {
  background-color: #4285f4;
  padding: 5px 10px;
  color: white;
  margin-top: -5px;
  border-radius: 2px;
}

section{
  margin: auto;
  width: 800px;
  height: 570px;
}

#logo {
  display: block;
  padding-top: 100px;
  padding-bottom: 20px;
  margin: auto;
  width: 300px;
  height:auto;
}

section > div {
  margin: auto;
  width: 545px;
  height: 24px;
  border: 1px solid lightgrey;
}


input {
/*  margin-top: -10px;*/
  float: left;
  width: 523px;
  height: 20px;
  margin-top: 2px;
  margin-left: 2px;
}

#microphone {
  float: right;
  width: auto;
  height: 17px;
  margin-top: 2px;
  margin-right: 2px;
}

.button_div{
  border: 0px;
  font-size: small;
  font-weight: bold;
  width: 250px;
  height: 45px;
  margin-top: 20px;
}

#search{
  padding: 6px;
  float: left;
  border-radius: 3px;
  border: 1px solid lightgrey;
  background-color: #F8F8F8 ;
}

#lucky{
  padding: 6px;
  float: right;
  border-radius: 3px;
  border: 1px solid lightgrey;
  background-color: #F8F8F8 ;
}

footer{
  border-top: 1px solid lightgrey;
  width:100%;
	height:40px;
	position:absolute;
	bottom:0;
  background-color: #F8F8F8;
  color: grey;
  font-size: small;
}

#footer_right {
  margin-top: 10px;
  float: right;
}

#footer_left {
  margin-left: 30px;
  margin-top: 10px;
  float: left;
}

footer li {
  float: left;
  margin-right: 30px;
}

strong {
  color: darkred;
}