body, section, header, article, div, p, img {
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font: inherits;
  vertical-align: baseline;
}

body {
  margin-top: 20px;
}

body > section:first-of-type{
  border-top: 5px solid grey;
}

section.post{
  margin: auto;
  width: 750px;
  border: 5px solid grey;
  border-top: 0px;
}

header {
  border-bottom: 2px solid grey;
  height: 65px;
}

img {
  border: solid blue;
  float: left;
  max-width: 50px;
  height: auto;
  margin: 5px 0px 5px 5px;
}

.user_info {
  float: left;
  margin: 10px 0px 0px 10px;
}

article {
  margin: 10px 65px 10px 65px;
}