body, nav, div, section, ul, li, p{
  margin: 0px;
  border: 0px;
  padding: 0px;
  font-size: 100%;
  font-family: sans-serif;
  font: inherits;
  vertical-align: baseline;
}

ul, li {
  list-style: none;
}

body{
  background-color: #F0F0F0;
}

h2 {
  margin-top: 15px;
}

section {
  margin: auto;
  width: 800px;
  background-color: white;
  border: 3px solid grey;
  border-top: 0px;
}

nav {
  background-color: red;
  border-bottom: 3px solid black;
}

.sidebar {
  float: left;
  width: 200px;
  padding: 0px 20px;
  margin: 20px 0px;
  border-right: 3px solid grey;
}

.content {
  float: left;
  width: 517px;

  margin: 20px 20px;
}

.footer {
  color: grey;
  background-color: #C0C0C0;
  border-top: 3px solid grey;
  height: 60px;
  clear: both;
}

.footer_list {
  margin: 20px 10px;
  float: right;
}

.footer_list > li {
  margin: 0px 10px;
  float: left;
}

.site {
  margin: 20px 20px;
  float: left;
}

.nav_buttons{
  margin: auto;
  width: 800px;
  height: 60px;
  border-right: 4px solid black;
  border-left: 4px solid black;
}

nav > div > div {
  color: white;
  padding: 21px 33px 21px 33px;
  border-right: 4px solid black;
  border-top: 0px;
  border-bottom: 0px;
  float: left;
}

.settings{
  border-right: 0px;
}

.count{
  background-color: black;
  display: inline;
  border-radius: 60px;
  padding: 2px 6px 2px 6px;
}

.notifications:hover .count{
  background-color: red;
}

.notifications:hover {
  background-color: black;
}

.notifications {
  position: relative;
}

.notifications_dropdown{
  display: none;
}

.notifications:hover .notifications_dropdown{
  display: block;
  width: 350px;
  background-color: green;
  position: absolute;
  margin-top: 24px;
  margin-left: -37px;
}

.notifications_dropdown > li {
  color: black;
  background-color: white;
  border: 4px solid black;
  border-top: 0px;
  padding: 4px 6px;
}

.notifications_dropdown > li:hover {
  background-color: #C0C0C0;
}